<p>
    <mat-toolbar class="nav">
      <span>Yamila Arce</span>
      <span class="example-spacer"></span>
      <button mat-button >Home</button>
      <button mat-button >Registros Akashicos</button>
      <button mat-button >Reiki</button>
      <button mat-button >Tarot</button>
      <button mat-button >Carta Natal</button>
      <button mat-button >Terapia Floral</button>
      <button mat-button >Talleres</button>   
      <span class="example-spacer"></span>
      <button mat-button >Turnos</button>
    </mat-toolbar>
  </p>
  