<mat-card-header class="container-banner">
    <div class="banner">
        
   <img src="../../../bannerimag.jpeg" alt=""> 
   <h1>La piba que devino de bruja</h1>
    </div>
</mat-card-header>



<mat-card-content>
    <mat-card class="about">
         <mat-card-title>Sobre mi</mat-card-title>
        <mat-card-header>
             <mat-card-content >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium diam enim, sit amet maximus eros tempor et. Fusce et dapibus augue, in ullamcorper odio. Sed dignissim nisl a erat vehicula eleifend. Integer aliquet rutrum aliquet. Vivamus porta urna ut dignissim ultricies. Donec at nunc velit. Praesent vel mi augue. Aliquam nec risus est. Vestibulum id eros fringilla, imperdiet magna in, blandit nibh. Integer facilisis velit tincidunt tristique viverra. Cras ornare magna ut tortor placerat blandit. Proin tempus non risus ut malesuada. Morbi vehicula interdum iaculis. Fusce placerat lectus a dictum dictum.
        </mat-card-content>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-header>
      </mat-card>
</mat-card-content>

<div class="cards">
<mat-card-content class="work text-center">
    <mat-card class="work text-center">
       <div>
        <img class="mb-1 mx-auto h-[300]" src="https://via.placeholder.com/150" alt="">
       </div>
       <div class="w-full">
        <h5 >Tatot</h5>

       </div>
      </mat-card>
</mat-card-content>

<mat-card-content class="work text-center">
    <mat-card class="work text-center">
       <div>
        <img class="mb-1 mx-auto h-[300]" src="https://via.placeholder.com/150" alt="">
       </div>
       <div class="w-full">
        <h5 >Carta Natal</h5>

       </div>
      </mat-card>
</mat-card-content>

<mat-card-content class="work text-center">
    <mat-card class="work text-center">
       <div>
        <img class="mb-1 mx-auto h-[300]" src="https://via.placeholder.com/150" alt="">
       </div>
       <div class="w-full">
        <h5 >Registros Arkaisco</h5>

       </div>
      </mat-card>
</mat-card-content>

<mat-card-content class="work text-center">
    <mat-card class="work text-center">
       <div>
        <img class="mb-1 mx-auto h-[300]" src="https://via.placeholder.com/150" alt="">
       </div>
       <div class="w-full">
        <h5 >Reiki</h5>

       </div>
      </mat-card>
</mat-card-content>

<mat-card-content class="work text-center">
    <mat-card class="work text-center">
       <div>
        <img class="mb-1 mx-auto h-[300]" src="https://via.placeholder.com/150" alt="">
       </div>
       <div class="w-full">
        <h5 >Talleres</h5>

       </div>
      </mat-card>
</mat-card-content>






</div>